<!-- Language/POS - Progressive Loading -->
@if (loadingStates.languageInfo && isRequestMode) {
<div class="skeleton-line skeleton-language-info"></div>
} @else {
<!-- Part of Speech Tags -->
<div class="pos-tags">
  <div class="language-flags">
    <img
      [src]="getLanguageFlag(word.source_language)"
      [alt]="'Source language flag'"
      class="language-flag"
      width="18"
      height="14"
    />
    <mat-icon class="arrow-icon">arrow_forward</mat-icon>
    <img
      [src]="getLanguageFlag(word.target_language)"
      [alt]="'Target language flag'"
      class="language-flag"
      width="18"
      height="14"
    />
  </div>

  <!-- Source POS - Progressive Loading -->
  @if (loadingStates.sourcePos && isRequestMode) {
  <div class="skeleton-line skeleton-pos-tag"></div>
  } @else if (word.source_pos) {
  <div class="pos-tag source-pos">
    {{ word.source_pos }}
  </div>
  }

  <!-- Target POS - Progressive Loading -->
  @if (loadingStates.targetPos && isRequestMode) {
  <div class="skeleton-line skeleton-pos-tag"></div>
  } @else if (word.target_pos) {
  <div class="pos-tag target-pos">
    {{ word.target_pos }}
  </div>
  }
</div>
}
