# langchain
langchain==0.3.25
langgraph==0.4.5
langchain-openai==0.3.17

# aws
aws-lambda-powertools==3.14.0
boto3==1.39.4
botocore==1.39.4

# other
instructor==1.9.2
aiohttp==3.12.14
aiofiles==24.1.0
python-dotenv==1.0.1
pydantic==2.11.7
elevenlabs==2.7.1

# testing
pytest==8.4.1
pytest-asyncio==0.25.0
anyio==4.7.0
rich==14.0.0
