# langchain
langchain==0.3.26
langgraph==0.5.2
langgraph-cli[inmem]==0.3.4
langchain-openai==0.3.27
langsmith==0.4.5

# aws
aws-lambda-powertools==3.14.0
boto3==1.39.4
botocore==1.39.4

# other
instructor[bedrock]==1.9.2
aiohttp==3.12.14
aiofiles==24.1.0
python-dotenv==1.0.1
pydantic==2.11.7
elevenlabs==2.7.1
ipykernel==6.29.5

# testing
rich==14.0.0