# Core LangChain and LangGraph
langchain==0.3.25
langgraph==0.4.5
langchain-openai==0.3.17


# AWS
aws-lambda-powertools==3.14.0
boto3==1.39.4
botocore==1.39.4

# Essential dependencies
instructor==1.9.2
aiohttp==3.12.14
pydantic==2.11.7
pydantic_core==2.33.2
elevenlabs==2.7.1